# Jekyll
# Ignore the folder where Jekyll builds the site
_site/

# Ignore the cache folders
.jekyll-cache/
.jekyll-metadata
.sass-cache/

# OS Files
# Specific to macOS and Windows
.DS_Store
Thumbs.db

# Configuration and secrets
# Useful if you use environment variables for API keys
.env
.env.*

# IDE and Editor files
.vscode/
.idea/
*.swp
*.swo